// external dependencies
script(src='assets/vendor/javascripts/jquery-1.10.2.min.js')
script(src='assets/vendor/javascripts/underscore.js')
script(src='socket.io/socket.io.js')

// main application
script(src='assets/javascripts/app.js')
